.container{
    background-color:rgb(228, 228, 228);
    padding: 20px;
    width: 150px;
    height: 1000px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: -300px;
    top: 80px;
    margin-top: 20px;
    transition: left 0.2s ease ;
}
.container a{
    width: 100%;
    background-color:rgb(228, 228, 228);
        color: #5c5c5c;
        border: none;
        text-align: center;
        padding: 38px 0px;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        border-top: 1px solid  rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
        cursor: pointer;
}
.container.open{
    left: 0;
}
.container a:hover{
    background-color:  rgb(207, 206, 206);
}

